@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --white: #fff;
    --blue:#011826;
    --red:#E7174A;
    --yellow:#FF9A16;
    --green:#2CC1AA;
    --grey:lightgrey;
    --off-white:#f7fff2;
    --Open-sans: 'Open Sans', sans-serif;
    --Raleway: 'Raleway', sans-serif;
}

*{
    margin: 0;
    scroll-behavior: smooth;
}

nav ul li {
    opacity: 0; /* Cache les éléments au départ */
    transform: translateX(-20px); /* Déplace les éléments vers la gauche */
    animation: slideIn 0.5s forwards; /* Applique l'animation */
}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.2s;
}

nav ul li:nth-child(3) {
    animation-delay: 0.4s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.6s;
}

nav ul li:nth-child(5) {
    animation-delay: 0.8s;
}

nav ul li:nth-child(6) {
    animation-delay: 1s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Styles pour la div de contact */
.sub-menu {
    opacity: 0; /* Cache la div au départ */
    transform: translateX(-20px); /* Déplace la div vers la gauche */
    animation: slideInContact 0.5s forwards; /* Applique l'animation */
    animation-delay: 1.2s; /* Délai d'animation de 1.2 secondes (1s pour le dernier li + 0.2s de buffer) */
}

@keyframes slideInContact {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#section1 {
    opacity: 0;
    transform: translateY(10%);
    animation: slideUp 1s forwards;
    animation-delay: 0.5s; /* Délai pour commencer l'animation */
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body{
    background-color: var(--blue);
}

.max-width{
    max-width: 1440px;
    margin: auto;
}

#burger{
    display: none;
}

.page-active{
    color: var(--red);
}

h1{
    font-family: var(--Raleway);
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
}

h2{
    font-family: var(--Raleway);
    font-weight: 700;
    color: var(--white);
    font-size: 36px;
}
h3{
    font-family: var(--Raleway);
    font-weight: 700;
    color: var(--white);
    font-size: 18px;
}

button{
    font-family: var(--Open-sans);
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
}

p{
    font-family: var(--Open-sans);
    font-weight: 400;
    color: var(--white);
    font-size: 18px;
}

a{
    font-family: var(--Open-sans);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: var(--yellow);
    transition: all 0.3s;
}

a:hover{
    color: var(--red);
    transition: all 0.3s;
}

ul{
    list-style: none;
    padding: 0;
}

.button_yellow{
    font-family: var(--Open-sans);
    font-weight: 600;
    color: var(--white);
    padding: 10px 15px;
    border-color: var(--yellow);
    background-color: var(--yellow);
    transition: all 0.3s;
    cursor: pointer;
}

.button_yellow:hover{
    background-color: var(--red);
    border-color: var(--red);
    transition: all 0.3s;
    color: var(--white);
}

.button_blue{
    font-family: var(--Open-sans);
    font-weight: 600;
    color: var(--white);
    padding: 10px 15px;
    border: 2px solid var(--white);
    background-color: var(--blue);
    transition: all 0.3s;
    cursor: pointer;
}

.button_blue:hover{
    background-color: var(--red);
    border-color: var(--white);
    transition: all 0.3s;
    color: var(--white);
}

#contactez-moi a{
    color: var(--white);
    transition: all 0.3s;
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    padding: 5px 10px;
    transition: all 0.3s;

}

#contactez-moi a:hover{
    color: var(--white);
    transition: all 0.3s;
    background-color: var(--red);
    border: 2px solid var(--red);
}

.fa-xmark{
    font-size: 24px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.sub-menu a{
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    right: 100%;
}


.sub-menu{
    padding: 15px 5px 30px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: -180%;
    left: 60%;
}

.sub-menu:target {
    display: block;
}

.sub-menu > div{
    padding: 15px;
}

.sub-menu > div > div{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    padding: 0px 20px 20px;
}

form label{
    font-family: var(--Open-sans);
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
    padding: 10px 0;
    background-color: var(--off-white);
}
form input, form textarea{
    font-family: var(--Open-sans);
    font-weight: 400;
    font-size: 18px;
    padding: 5px;
    background-color: var(--white);
    outline: none;
    border: 2px solid var(--grey);
}

form p{
    font-family: var(--Open-sans);
    font-weight: 400;
    color: var(--blue);
    font-size: 28px;
    padding: 10px 0 0 0;
    background-color: var(--off-white);
}


form button{
    font-family: var(--Open-sans);
    font-weight: 400;
    color: var(--white);
    padding: 5px 10px;
    border-color: var(--blue);
    background-color: var(--blue);
    transition: all 0.3s;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover{
    background-color: var(--red);
    border-color: var(--red);
    transition: all 0.3s;
    color: var(--white);
}

.lien_competences{
    font-family: var(--Open-sans);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: var(--yellow);
    transition: all 0.3s;
    border-bottom: 2px solid var(--red);
}

.lien_competences:hover{
    color: var(--red);
    transition: all 0.3s;
    border-bottom: 2px solid var(--red);
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}

header nav{
    position: relative;
}

header nav ul{
    display: flex;
    gap: 40px;
}

/* Main */
/* Section 1 */

#section1{
    background-color: var(--red);
    height: 400px;
}

#section1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

#section1 h2{
    padding:0px 15px 20px 15px;
}

#section1 p{
    padding: 0px 15px;
}

/* Section 2 */

#section2{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 80px;
    padding: 0px 15px;
    gap: 40px;
}

#section2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#section2 h2{
    padding-bottom: 20px;
}

/* Section 3 */

#section3{

    margin:80px auto;
    padding: 0 15px;
}

#section3 h2{
    margin-bottom: 40px;
    text-align: center;
}

#section3 > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.ul_competences {
    display: none;
    list-style: circle;
    margin: 20px 0px 20px 20px;
    transition: all 0.3s ease;
}

.ul_competences:target {
    display: grid;
    gap: 10px;
}

.ul_competences > li > ul{
    list-style: disc;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.ul_competences > li > ul > li{
    margin-left: 40px;
}

.li_competences{
    margin-top: 20px;
    background-color: var(--white);
    padding: 10px;
}

.li_competences a{
    border-bottom: 2px solid var(--red);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.front-back-end ul{
    padding: 10px 0px 10px 0px;
}

/* Section 4 */

#section4{
    max-width: 1440px;
    margin:0 auto 40px auto;
    padding: 0 15px;
}

#section4 h2{
    margin-bottom: 40px;
    text-align: center;
}

#section4 img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#section4 h3{
    margin: 20px 0px;
}

#section4 p{
    margin-bottom: 30px;
}

#section4 article {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-image: linear-gradient(to bottom, var(--red), var(--yellow)) 1;
    padding: 0px 20px;
}

#section4 div:nth-child(1){
    margin: 120px auto;
}

#div_section4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px 40px;
    align-items: center;
}

#plus_projets{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#pages{
    display: flex;
    justify-content: center;
    gap: 20px;

}

/* Footer */



footer{
    background-color: var(--green);
    padding: 15px 0px;
    text-align: center;
}

/* Responsive tablette */

@media screen and (max-width: 1024px){

#burger{
    display: block;
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
}

header nav{
    display: none;
}

#section2{
    grid-template-columns: 1fr;
}

#div_section4{
    grid-template-columns: repeat(2,1fr);
}

#div_section4 article:nth-child(3){
    grid-column: 1/3;
}
}

/* Responsive mobile */

@media screen and (max-width: 767px){

h2{
    text-align: center;
    font-size: 27px;
}

#section1 p{
    text-align: center;
}
#section3 > div {
    grid-template-columns: 1fr;
    gap: 0px;
}

#section4 h2{
    margin-bottom: 80px;
}

#div_section4 {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
}